/* =========== GOOGLE FONTS Hammersmith One,Playfair Display and  Roboto*/

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;700;900&family=Roboto:wght@100;300;400;900&display=swap');

/*===== VARIABLES CSS =====*/

:root {
    /* colors */
    --color1: rgba(255, 255, 255);
    --color2: rgba(0, 224, 208);
    --color3: #413d4b;
    --color4: #333333;
    --color5: #f9f9f9;
    /* font and typography */
    --font-hammersmith: 'Hammersmith One', sans-serif;
    --font-playfair-display: 'Playfair Display', serif;
    --font-Roboto: 'Roboto', sans-serif;
    /* z index */
    --global-z-fixed: 99;
    /* paddings */
    --padding-container: 15px
}


/*========== BASE ==========*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* ============ SELECTORS ============= */

.container {
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
    max-width: 970px;
    margin: 0 auto;
}


/* ============ start heading section ============*/

.heading {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.heading .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--padding-container);
    padding-bottom: var(--padding-container);
}

.heading--background {
    background-image: url('../img/forest-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: flex;
    align-items: center;
}

.heading input {
    display: none;
}

.heading .heading__toggle {
    display: none;
}

.navbar {
    min-width: 541px;
    padding-left: 5px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li a:after,
.navbar ul li a:before {
    transition: all .5s;
}

.navbar ul li a {
    padding: 10px;
    font-size: 13px;
    letter-spacing: 0px;
    color: var(--color1);
    font-weight: 900;
    font-family: var(--font-Roboto);
    text-transform: uppercase;
    position: relative;
}

.navbar ul li:last-child a {
    padding-right: 0;
}

.navbar ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--color1);
    height: 1px;
}

.navbar ul li a:hover:after {
    width: 100%;
}

.navbar ul li .active {
    color: var(--color2);
}


/* ============ end heading section ============*/


/* ============ start hero section ============*/

.hero {
    position: relative;
    background-image: url("../img/forest-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.hero .container {
    max-width: 770px;
    position: absolute;
    top: 32.5%;
}

.slider .slider__info h1 {
    font-size: 32px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Playfair Display";
    text-align: center;
}

.slider .slider__info p {
    margin-top: 45px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.slider .slider__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 120px;
}

.cyan-btn {
    text-align: center;
    display: inline-flex;
    padding: 10px 17px;
    font-size: 16px;
    color: #00e0d0;
    font-weight: 400;
    font-family: "Hammersmith One";
    border-radius: 3px;
    border: 1px solid var(--color2);
    text-transform: uppercase;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    list-style-type: none;
}

.slick-dots li {
    margin: 0 4px;
    width: auto;
}

.slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: 1px solid var(--color1);
    border-radius: 50%;
    text-indent: -9999px;
}

.slick-dots li.slick-active button {
    background-color: var(--color2);
    border: none;
}


/* ============ end hero section ============*/


/* ============ start story section ==================*/

.story .container {
    max-width: 873px;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
}

.story .story__info {
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.story .story__info h3 {
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--color3);
    font-weight: 700;
    font-family: var(--font-playfair-display);
    text-transform: uppercase;
}

.story .story__info p {
    padding: 10px 0;
    width: 100%;
    max-width: 540px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: var(--color3);
    font-weight: 300;
    font-family: var(--font-Roboto);
}

.story .story__info .cyan-btn {
    width: max-content;
}


/* ============ end story section ==================*/


/* ============ start video section =================*/

.movie .container {
    max-width: 100%;
    position: relative;
}

.movie video {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
}

.movie .movie__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.movie .movie__play img {
    cursor: pointer;
}

.movie .movie__play p {
    text-transform: uppercase;
    margin-top: 34px;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--color1);
    font-weight: 900;
    font-family: var(--font-Roboto);
}


/* ============ start video section =================*/


/* ============ start expertise section =============*/

.expertise .container {
    max-width: 894px;
    padding-top: 65px;
}

.expertise .expertise__header {
    text-align: center;
}

.expertise .expertise__header h3 {
    padding: 8px;
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--color3);
    font-weight: 700;
    font-family: var(--font-playfair-display);
    text-align: center;
    text-transform: uppercase;
}

.expertise .expertise__header p {
    padding: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--color3);
    font-weight: 400;
    font-family: var(--font-playfair-display);
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 76px;
    padding-top: 57px;
}

.grid .grid__item {
    margin: 0 auto;
}

.grid .grid__graphic {
    margin-top: 20px;
    padding: 35px;
    display: flex;
    justify-content: center;
}

.grid .grid__item h3 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--color3);
    font-weight: 900;
    font-family: "Roboto";
    text-align: center;
}

.grid .grid__item p {
    padding: 25px 0;
    width: 254px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    color: var(--color4);
    font-weight: 300;
    font-family: var(--font-Roboto);
    text-align: center;
}


/* ============ end expertise section =============*/


/* ============ start team section =============*/

.team {
    background-image: url("../img/Team.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team .container {
    max-width: 940px;
    padding: 71px 0;
}

.team .team__header h3 {
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--color1);
    font-weight: 700;
    font-family: var(--font-playfair-display);
    text-align: center;
    text-transform: uppercase;
}

.team .team__header p {
    padding: 16px 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--color5);
    font-weight: 400;
    font-family: var(--font-playfair-display);
    text-align: center;
}

.team .team__cards {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.team .team__card {
    margin: 0 auto;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, .5);
}

.team .team__card p {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--color1);
    font-weight: 900;
    font-family: var(--font-Roboto);
    text-align: center;
}

.team .team__card p span {
    padding-top: 12px;
    display: block;
    font-size: 13px;
    color: #fafafa;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.team .team__footer {
    text-align: center;
}

.team .team__footer p {
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--color1);
    font-weight: 300;
    font-family: var(--font-Roboto);
    text-align: center;
}

.team .team__footer .cyan-btn {
    margin-top: 25px;
}


/* ============ end team section =============*/


/* ============ start projects section =============*/

.projects .container {
    max-width: 1600px;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects .projects__header {
    width: 100%;
    max-width: 940px;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
    display: flex;
    justify-content: space-between;
}

.projects .projects__header h3 {
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--color3);
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--font-playfair-display);
}

.projects .projects__header div {
    display: flex;
    align-items: center;
}

.projects .projects__header a {
    margin-right: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--color3);
    font-weight: 300;
    font-family: var(--font-Roboto);
}

.works {
    padding: 70px 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto auto;
}

.works .works__item {
    max-width: 267px;
    max-height: 200px;
    height: 100%;
    width: 100%;
}


/* ============ end projects section =============*/


/* ============ start footer section ==============*/

.footering {
    background-image: url('../img/footer-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footering .container {
    padding-top: 71px;
    padding-bottom: 71px;
}

.footering .footering__info {
    display: flex;
    justify-content: space-between;
}

.footering .footering__info section {
    margin: 0 auto;
}

.footering .footering__info section p {
    max-width: 283px;
    width: 100%;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
    color: var(--color1);
    font-weight: 300;
    font-family: var(--font-Roboto);
}

.footering .footering__info section:nth-child(2) p {
    max-width: 237px;
    margin-left: 16px;
    width: 100%;
}

.footering .footering__info section:nth-child(1) p {
    margin-top: 27px;
}

.footering .footering__info section:nth-child(2) .footering__address,
.footering .footering__info section:nth-child(3) .footering__subscribe {
    margin-top: 39px;
}

.footering .footering__info section h3 {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 26px;
    color: var(--color1);
    font-weight: 900;
    font-family: var(--font-Roboto);
    text-transform: uppercase;
}

.footering .footering__address,
.footering .footering__phone {
    display: flex;
}

.footering .footering__subscribe {
    display: flex;
    justify-content: space-between;
    height: 46px;
    width: 100%;
}

.footering__info section {
    width: 100%;
}

.footering .footering__subscribe input {
    max-width: 212px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color1);
    background: transparent;
    opacity: 50%;
    padding-left: 17px;
}

.footering .footering__subscribe div {
    height: 100%;
    max-width: 70px;
    background-color: var(--color1);
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footering .footering__phone {
    margin-top: 24px;
}

.footering .footering__socials {
    margin-top: 26px;
    max-width: 256px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footering .footering__nav-credits {
    margin-top: 71px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footering .footering__nav-credits p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
    color: var(--color1);
    font-weight: 400;
    font-family: var(--font-Roboto);
}

.footering .footering__nav-credits .navbar {
    min-width: 301px;
}


/* ============ end footer section ====================*/

@media (max-width:768px) {
    /* start header section */
    .heading .container {
        flex-wrap: wrap;
    }
    .heading .heading__toggle span:last-child,
    .heading #navbar-toggle:checked~.heading__toggle span:first-child {
        display: none;
    }
    .heading .heading__toggle,
    .heading #navbar-toggle:checked~.heading__toggle span:last-child,
    .heading #navbar-toggle:checked~.navbar {
        display: block;
    }
    .heading .logo {
        flex-basis: 50%;
    }
    .heading .heading__toggle {
        flex-basis: 50%;
        display: flex;
        justify-content: end;
    }
    .heading .navbar {
        min-width: 100%;
        display: none;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    /* end header section */
    /* start hero section */
    .hero .container {
        max-width: 100%;
        top: 20%;
    }
    .slider .slider__link {
        margin-bottom: 90px;
    }
    /* end hero section */
    /* start story section */
    .story .container {
        flex-wrap: wrap;
    }
    .story .story__graphic,
    .story__info {
        margin: 0 auto;
    }
    /* end story section */
    /* start meet section */
    .team .team__cards {
        flex-wrap: wrap;
    }
    .team .team__card {
        margin-top: 20px;
    }
    /* end meet section */
    /* start project section */
    .works {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .works .works__item {
        margin: 15px auto;
    }
    /* end project section */
    /* start footer section */
    .footering .footering__info {
        flex-wrap: wrap;
    }
    .footering__info section {
        width: max-content;
        padding-bottom: 50px;
    }
    .footering__info section:nth-child(3) {
        max-width: 300px;
        width: 100%;
    }
    .footering .footering__nav-credits p,
    .footering .footering__nav-credits .navbar {
        margin: 0 auto;
    }
    .footering .footering__nav-credits {
        margin-top: 0;
    }
    /* end footer section */
}

@media (max-width:576px) {
    /* start footer section */
    .footering .footering__nav-credits p {
        margin-top: 50px;
    }
    /* end footer section */
    /* start story section */
    .movie .movie__play img {
        width: clamp(50px, 2.5vw, 100%);
    }
    /* end story section */
}